.Rproj.user
.Rhistory
.RData
.DS_Store
.history
.Rprofile

# Drake files
.drake/

# Model outputs
analysis/data/model_output/
analysis/data/retrieved/

# Rmd output
/analysis/paper/exploratory_cache/
/analysis/paper/exploratory_files/
/analysis/paper/exploratory.html
/analysis/paper/submodel-rtm_files/

_rendered_output/

# Figures
analysis/figures/
/.drake_bety/
/analysis/paper/_deploy/
.drake_history
/analysis/data/retrieved
/analysis/paper/supplementary-figures.pdf
