.Rproj.user
.Rhistory
.RData
.DS_Store

# Drake files
.drake/

# Model outputs
analysis/data/model_output/

# Rmd output
analysis/paper/exploratory_cache/
analysis/paper/exploratory_files/
analysis/paper/exploratory.html

# Figures
analysis/figures/
