.Rproj.user
.Rhistory
.RData
.DS_Store
.history

# Drake files
.drake/

# Model outputs
analysis/data/model_output/
analysis/data/retrieved/

# Rmd output
analysis/paper/exploratory_cache/
analysis/paper/exploratory_files/
analysis/paper/exploratory.html

_rendered_output/

# Figures
analysis/figures/
/.drake_bety/
